.table-container{
    width: 240px;
    margin-left: 10px;
}
.table-container:last-child{
    margin-right:  10px;
}
.table-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0rem;
}
.table-header-left, .table-header-right{
    display: flex;
    align-items: center;
    margin: 2px;
}
.table-icon{
    margin-right: .5rem;
    display: flex;
    align-items: center;
}
.table-title{
    margin-right: .65rem;
    font-weight: 600;
    font-size: 15px;
}
.table-add-item{
    margin-right: .5rem;
    cursor: pointer;
    color: #808184;
}
.table-option-item{
    margin-right: .5rem;
    cursor: pointer;
    color: #808184;
}
.table-card-items{
    width: 100%;
}

@media (max-width: 500px) and (min-width: 300px){
    .table-container{
        width: 320px;
        margin-left: 1.5rem;
    }
    .table-container:last-child{
        margin-right: 1.5rem;
    }
}