.board{
  margin: 10px;
}

.board-details-list {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (min-width: 1300px) {
  .board{
    margin: 30px;
  }
}

@media screen and (min-width: 1500px) {
  .board{
    margin: 90px;
  }
}

